# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db

# Ignore Linux system files
*~

# Node.js dependencies
node_modules/

# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env

# Java build files
target/
*.class

# JavaScript/TypeScript build files
dist/
build/

# Logs
*.log
*.out
*.err

# Environment files
.env

# Configuration files
config.json

# IDEs and Editors
.vscode/
.idea/

# Backup files
*.bak
*.swp

# Package distribution
*.tar.gz
*.zip

# Project-specific files
*.sublime-workspace
*.sublime-project
